<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <h1>Welcome to My Music Recommendation System</h1>
    <h2>Please sign up to proceed</h2>
    <div class="container">
        <div class="form-container">
            <h1>Signup</h1>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit" class="submit-button">Signup</button>
            </form>
            <p>Already have an account? <a href="/">Login</a></p>
        </div>
    </div>
</body>
</html>
